.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.App-logo-buttons > button {
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.App-logo-buttons > button:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear reverse;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
